---
import Layout from '@layouts/Layout.astro';
import { getFiles } from '@actions/index';

const files = await getFiles();
---

<Layout title="Your Turn To Pick">
  <form>
    <input type="file" name="file" id="file" required />
    <button type="submit">Upload file</button>
  </form>

  <main>
    <h1>Files</h1>

    <div class="file-list">
      {files.map((file: { url: string; name: string; }) => <a class="file" target="_blank" href={file.url}>{file.name}</a>)}
    </div>
  </main>

  <script>
    import { actions } from 'astro:actions';
  
    const form = document.getElementsByTagName('form')[0]

    form.addEventListener('submit', (event) => {
      event.preventDefault()

      const formData = new FormData(form)

      form.reset();

      actions.uploadFile(formData)
      setTimeout(() => {
        window.location.reload()
      }, 3000)
    })
  </script>
</Layout>