<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>DropFiles</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--background: #020202;
		--section-background: #222;
		--white: #FFFFFF;
		--gray: #BEBEBE;
		--green: #5CD45C;
		--dark-green: #2E8B57;
		--red: #EC4933;
	}
	* {
		font-family: "Inter", sans-serif;
		font-style: normal;
		font-optical-sizing: auto;
		color: var(--white);
		margin: 0;
		padding: 0;
		text-align: center;
		box-sizing: border-box;
	}
	body {
		background: var(--background);
		overflow-x: hidden;
		width: 100vw;
		height: 100vh;

		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		padding: 20px;
	}

	form {
		background-color: var(--section-background);
		width: 40%;
		max-width: 400px;
		height: 40vh;
		padding: 20px;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		border-radius: 10px;
	}

	button[type="submit"] {
		background-color: var(--green);
		border: 0;
		padding: 10px 20px;
		border-radius: 20px;

		cursor: pointer;
		transition: all 0.2s ease;

		&:hover {
			background-color: var(--dark-green);
		}
	}

	h1 {
		margin: 20px 0;
		font-size: 2.5rem;
	}

	.file-list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
	}

	.file {
		text-decoration: none;
		font-weight: bold;
		color: var(--white);
		transition: all 0.2s ease;
		&:hover {
			color: var(--green);
		}
	}

	@media (max-width: 768px) {
		body {
			padding: 10px;
		}

		form {
			width: 80%;
			height: auto;
			padding: 20px;
		}

		h1 {
			font-size: 2rem;
		}

		button[type="submit"] {
			width: 100%;
			padding: 10px;
		}
	}

	@media (max-width: 480px) {
		form {
			width: 100%;
			height: auto;
			padding: 15px;
		}

		h1 {
			font-size: 1.8rem;
		}

		.file-list {
			width: 100%;
		}

		.file {
			font-size: 1rem;
		}

		button[type="submit"] {
			width: 100%;
			padding: 15px;
		}
	}
</style>